<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nhận xét nhà tuyển dụng</title>
</head>
<body>
    <h1>Đánh giá nhà tuyển dụng</h1>
    <p>Chỉ cần dành ra 1 phút, bạn đã có thể giúp những ứng viên khác có được công việc mơ ước của họ.</p>
    <form method="post" action="//submit.form" onSubmit="return validateForm();">
<div style="width: 400px;">
</div>
<div style="padding-bottom: 18px;">Công ty<span style="color: red;"> *</span><br/>
<input type="text" id="data_1" name="data_1" style="width : 450px;"/>
</div>
<div style="padding-bottom: 18px;">Xếp hạng (5 - rất hài lòng; 1 - rất không hài lòng)<br/>
<select id="data_2" name="data_2" style="width : 100px;"><option>5</option>
<option>4</option>
<option>3</option>
<option>2</option>
<option>1</option>
</select>
</div>
<div style="padding-bottom: 18px;">Tiêu đề<span style="color: red;"> </span><br/>
<input type="text" id="data_3" name="data_3" style="width : 450px;"/>
</div>
<div style="padding-bottom: 18px;">Điểm cộng<span style="color: red;"> </span><br/>
<textarea id="data_4" ${readonly} name="data_4" style="width : 450px;" rows="5"></textarea>
</div>
<div style="padding-bottom: 18px;">Điểm trừ<span style="color: red;"> </span><br/>
<textarea id="data_5" ${readonly} name="data_5" style="width : 450px;" rows="5"></textarea>
</div>
<div style="padding-bottom: 18px;">Góp ý với lãnh đạo<span style="color: red;"> </span><br/>
<textarea id="data_6" ${readonly} name="data_6" style="width : 450px;" rows="5"></textarea>
</div>
<div style="padding-bottom: 18px;"><input name="skip_Submit" value="Submit" type="submit"/></div>
</form>

<script type="text/javascript">
function validateForm() {
if (isEmpty(document.getElementById('data_1').value.trim())) {
alert('Bạn chưa điền tên công ty !');
return false;
}
if (isEmpty(document.getElementById('data_3').value.trim())) {
alert('Thêm tiêu đề cho đánh giá của bạn !');
return false;
}
if (isEmpty(document.getElementById('data_4').value.trim())) {
alert('Bạn chưa viết đánh giá !');
return false;
}
if (isEmpty(document.getElementById('data_5').value.trim())) {
alert('Bạn chưa viết đánh giá !');
return false;
}
return true;
}
function isEmpty(str) { return (str.length === 0 || !str.trim()); }
function validateEmail(email) {
var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,15}(?:\.[a-z]{2})?)$/i;
return isEmpty(email) || re.test(email);
}
</script>
</body>
</html>