<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="box box-md">
                <div class="absolute-right popover-icon premium-click" data-original-title="" title=""></div>
                <div class="row">
                    <div class="col1 col-md-3 employer-logo">
                        <!-- Display when has logo-->
                                                <span class="center-block text-center box-limit">
                            <a href="http://www.vietnamworks.com/viec-lam-tai-vietnamworks-e743336-vn">
                                <img src="http://images.vietnamworks.com/pictureofcompany/ff/10248615.png" class="logo img-responsive">
                            </a>
                        </span>
                                            </div>
                    <div class="col2 col-md-9">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="job-header-info">
                                        <h1 itemprop="title" class="job-title">Vietnamworks - Chuyên Viên Tư Vấn Kinh Doanh</h1>
                                            <span class="company-name text-lg block">
                                                <strong>VietnamWorks</strong></span>
                                        <span class="company-address block">130 Suong Nguyet Anh Street, Ben Thanh Ward, District 1, Ho Chi Minh City, Vietnam</span>

                                        <p class="work-location">
                                            Nơi làm việc:
                                            <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><a itemprop="addressLocality" href="http://www.vietnamworks.com/viec-lam-tai-ho-chi-minh-v29-vn" title="Việc làm tại Hồ Chí Minh">Hồ Chí Minh</a></span>                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Hide this in mobile-->
                            <div class="col-md-4 hidden-xs hidden-sm">
                                <div class="push-top-sm"></div>
                                <div class="action-apply center-block">
                                                                                                                    <button type="button" onclick="applyNow()" class="btn btn-primary btn-xlg col-sm-12">
                                            Nộp Đơn
                                        </button>
                                        <button class="btn btn-sm btn-google btn-block push-top-xs"><i class="fa fa-fw fa-google"></i> <span> Nộp đơn với Google</span></button>
                                                                                                                                                </div>
                            </div>
                            <!--/-->
                        </div>

                        <!-- Salary-->
                        <div class="row">
                            <div class="pull-left">
                                <div class="salary border pull-left padding-15 box-gray-light-ex rounded text-center bold-500">Mức lương:
                                                                        <span class="link-list"><a href="/jobseekers/checkAuthenticate.php?lang=1">Đăng nhập để xem mức lương</a></span>
                                                                </div>
                            </div>

                            <br class="push-top-lg visible-xs">
                            <!--Show in Mobile-->
                            <div class="visible-xs visible-sm push-top-lg">
                                                                                                        <div class="action-apply center-block">
                                        <button type="button" class="col-sm-12 btn btn-primary btn-xlg" data-toggle="modal" onclick="initApplyForm()">Nộp Đơn</button>
                                    </div>
                                                                                                                                    <button class="btn btn-sm btn-google btn-block push-top-xs"><i class="fa fa-fw fa-google"></i> <span> Nộp đơn với Google</span></button>
                                                            </div>
                            <!--/-->
                            <div class="pull-right text-gray-light">
                                <div class="pull-left small padding-15">2059 lượt xem</div>
                                                                <div class="pull-left small padding-15">Đăng tuyển 8 ngày trước</div>
                                                            </div>
                        </div>
                    </div>
                </div>


            </div>
</body>
</html>