<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Us</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/round-about.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="/home">JobWise</a></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/about-us">/ VỀ CHÚNG TÔI</a></li>
                    <li><a href="/company-list">/ DANH SÁCH CÔNG TY</a></li>
                    <li><a href="/review-form">/ ĐÁNH GIÁ CÔNG TY</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Về JobWise</h2>
                <h4>Mục Đích</h4>
                <p>Giúp các bạn tìm được công ty và công việc phù hợp nhất.</p>
                <br> <h4>JobWise là gì?</h4>
                <p>JobWise là cổng thông tin về các nhà tuyển dụng và việc làm lớn nhất Việt Nam. </p>
                <p>Chi tiết tiền lương, đánh giá công ty, và các câu hỏi phỏng vấn - tất cả đều được đăng lên bởi những người đang đi làm và tìm việc. Với công nghệ tiên tiến, mạng lưới đối tác toàn cầu và dịch vụ khách hàng chuyên nghiệp, chúng tôi kết nối nhân tài với công việc mơ ước và giúp doanh nghiệp xây dựng đội ngũ nhân sự tài năng. </p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Thành Viên Nhóm</h2>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img src="/static/image/Khanh.jpg" class="img-circle" alt="Khanh" style="width:200px;height:200px;">
                <h3>Khánh</h3>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img src="/static/image/Hau.jpg" class="img-circle" alt="Hau" style="width:200px;height:200px;">
                <h3>Hậu</h3>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img src="/static/image/Ly.jpg" class="img-circle" alt="Ly" style="width:200px;height:200px;">
                <h3>Ly</h3>
            </div>
        </div>

        <!-- Contact -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Liên Hệ</h2>
                <p>Chùa Láng: Số 10, ngõ 121, Chùa Láng <br> Hotline: (Mr. Ngủ) +84 123 456 7890 <br> Email: nguchobotsau@gmail.com </p></p>
                <br><h1></h1></div>

{#        <footer>#}
{#            <div class="row">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-md-6">#}
{#                            <p>© 2016 All Rights Reserved | JobWise</p>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-6">#}
{#                            <ul class=""footer-socials list-inline">#}
{#                                <a href="http://www.facebook.com" class="tooltips" data-toggle="tooltip" data-placement="top" title-data-original-title="Facebook"><img src = "/static/image/facebook.jpg" alt="Facebook Logo" class="footer-logo" width="32" height="32">#}
{#                                </a>#}
{#                                <a href="http://www.youtube.com" class="tooltips" data-toggle="tooltip" data-placement="top" title-data-original-title="Youtube"><img src = "/static/image/youtube.png" alt="Youtube Logo" class="footer-logo" width="31" height="31">#}
{#                                </a>#}
{#                                <a href="http://www.linkedin.com" class="tooltips" data-toggle="tooltip" data-placement="top" title-data-original-title="LinkedIn"><img src = "/static/image/linkedin_circle_black-512.png" alt="LinkedIn Logo" class="footer-logo" width="35" height="35">#}
{#                                </a>#}
{#                                <a href="http://www.twitter.com" class="tooltips" data-toggle="tooltip" data-placement="top" title-data-original-title="Twitter"><img src = "/static/image/twitter.png" alt="Twitter Logo" class="footer-logo" width="35" height="35">#}
{#                                </a>#}
{#                                <a href="https://plus.google.com" class="tooltips" data-toggle="tooltip" data-placement="top" title-data-original-title="Gplus"><img src = "/static/image/google-plus.png" alt="GPlus Logo" class="footer-logo" width="35" height="35">#}
{#                                </a>#}
{#                            </ul>#}
{#                        </div>#}
{#        </footer>#}

    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
