<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Company Review</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/round-about.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="/home">JobWise</a></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/about-us">/ VỀ CHÚNG TÔI</a></li>
                    <li><a href="/company-list">/ DANH SÁCH CÔNG TY</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <div class="input-group">
{#        <input type="text" class="form-control" placeholder="Search...">#}
{#        <span class="input-group-btn">#}
{#          <button class="btn btn-default" type="button">#}
{#            <span class="glyphicon glyphicon-search"></span>#}
{#          </button>#}
{#        </span> <br>#}
      </div>
    </div>

    <div class="col-sm-9">
        <div class="well">
            <h1>{{company}}</h1>
            <p>{{info}}</p>
        </div>

    	<div class="main-content">
		<div class="frm0">
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <div><h1></h1></div>
					<i><h3>"Chỉ cần dành ra 1 phút, bạn đã có thể giúp những ứng viên khác có được công việc mơ ước của họ!"</h3></i>
                    <hr>
				        <div class="facts">
		                    <div class="register">
						        <form method="POST">
							        <h4>Nội dung đánh giá:</h4>
							        <input id="data_2" name="data_2" type="text" style="width : 450px;height: 150px">
                                    <button type="submit" class="btn btn-success button">GÓP Ý</button>
                                    <div class="clear"></div>
						        </form>
					        </div>
				        </div>
                </hr>
                </div>
            </div>
        </div>
        </div>

        <hr>
            {%for x in noidung%}
            <h2></h2>
            <h5><span class="glyphicon glyphicon-time"></span> Đăng bởi anonymous | 2016.</h5>
            <p>"{{x}}"</p>
            <br><br>
            {%endfor%}
        </hr>

        <hr>

    <div><h1></h1></div>

    </div>
    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    </div>
    <div class="clear"></div>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>
</html>

