<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Review Form</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/round-about.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="/home">JobWise</a></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/about-us">/ VỀ CHÚNG TÔI</a></li>
                    <li><a href="/company-list">/ DANH SÁCH CÔNG TY</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
        <div class="col-sm-2 sidenav"></div>

    <div class="col-sm-8">
	<div class="main-content">
		<div class="frm0">
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<i><h2>"Chỉ cần dành ra 5 phút, bạn đã có thể giúp những ứng viên khác có được công việc mơ ước của họ!"</h2></i>
                    <hr>
				        <div class="facts">
		                    <div class="register">
						        <form method="POST">
							        <h4>Công ty*:</h4>     <!-- Nhap tu dong ten cong ty -->
							        <input 	 id="data_1" name="data_1" type="text" style="width : 450px;">
						        <form>
                                    <hr>

									<h4>Xếp hạng (5 - rất hài lòng; 1 - rất không hài lòng)*:<h3>
									<div>
										<select id="data_2" name="data_2" style="width : 100px;height:35px;" >
										<option>5</option>
										<option>4</option>
										<option>3</option>
										<option>2</option>
										<option>1</option>
										</select><br><br>
									</div><hr>

							        <h4>Tiêu đề*:</h4>
							        <input id="data_3" name="data_3" type="text" style="width : 450px;">
                                        <hr>

							        <h4>Điểm cộng*:</h4>
							        <input id="data_4" name="data_4" type="text" style="width : 450px;height: 150px;">
                                        <hr>

							        <h4>Điểm trừ*:</h4>
							        <input id="data_5" name="data_5" type="text" style="width : 450px; height: 150px;" >
                                        <hr>

									<h4>Trải nghiệm phỏng vấn*:</h4>
							        <input id="data_6" name="data_6" type="text" style="width : 450px; height: 150px;" >
                                        <hr>

									<h4>Góp ý với lãnh đạo*:</h4>
							        <input id="data_7" name="data_7" type="text" style="width : 450px; height: 150px;" >
                                        <hr>

                                    <button type="submit" class="btn btn-danger button">GÓP Ý</button>
                                    <div class="clear"><br><h1></h1></div>

						        </form>
					        </div>
				        </div>
    </div>

    <div class="col-sm-2 sidenav"></div>
  </div>
</div>

        <div class="clear"></div>

{#    <div class="container">#}
{#        <footer>#}
{#            <div class="row">#}
{#                <div class="col-md-6">#}
{#                    <p>© 2016 All Rights Reserved | JobWise</p>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
{#    </div>#}

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
