<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/round-about.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="/home">JobWise</a></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/about-us">/ VỀ CHÚNG TÔI</a></li>
                    <li><a href="/company-list">/ DANH SÁCH CÔNG TY</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </nav>
    <div>

    <div class="row" style="margin: 80px">
        <div style="text-align: center">
            <h1>Let's land your dream job!</h1></div>
    </div></div>

    <div><form method="POST">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input placeholder="SEARCH BY CITY" type="CITY" name="CITY" class="form-control" style="height: 50px; text-align: center">
                <div class="clear"></div> <h1></h1></div>

            <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
                <button type="submit" class="btn btn-success button">SEARCH</button>
                <div class="clear"></div> <h1></h1></div>
        </div>
</form></div>


{#    <div class="container">#}
{#        <footer>#}
{#            <div class="row">#}
{#                <div class="col-md-6">#}
{#                    <p>© 2016 All Rights Reserved | JobWise</p>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
{##}
{#    </div>#}

</body>

</html>
